{% extends "website/base.html" %}
{% load static %}
{% load website_tags %}

{% block extra_title %}| Novos PLs{% endblock %}

{% block body_class %}class="pagina-novos-pls"{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
{% endblock %}

{% block header %}
  <!-- HEADER -->
  <div class="main-page-header container-fluid text-center">
    <h1>Novos PLs</h1>
    <p>Acompanhamento semanal de novos projetos de lei</p>
    <img class="robo" src="{{ large_logo }}" alt="{{ long_title }}" />
  </div>
  <!-- HEADER -->
{% endblock %}

{% block conteudo %}
  <div class="filtros-novos-pls container-fluid text-center">
    <form id="filtros" method="get">
      {{ form.origem }}
      {{ form.data }}
    </form>
  </div>

  <div class="datas-novos-pls container-fluid text-center">
    <div class="row table-row-sm item-divider">
    {% for inicio, fim in semanas_proximas %}
      {% if forloop.first %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          </a>
        </div>
      {% elif forloop.last %}
        <div class="col-sm-1">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <span class="navegacao glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </a>
	</div>
      {% else %}
        <div class="col-sm-2{% if inicio in dias_da_semana %} active{% endif %}">
          <a href="{% change_url_parameter request 'data' inicio|date:'d/m/Y' %}">
            <p class="novos-pls-data-mes">{{ inicio|date:"d/m" }} - {{ fim|date:"d/m" }}</p>
            {% if inicio == inicio_da_semana_atual %}
              <p class="novos-pls-data-hoje">esta semana</p>
            {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="conteudo-principal">
    <div class="container">
      <div class="row">
	  {% for projeto in novos_pls %}

	  {% ifchanged projeto.apresentacao %}
	    {% if not forloop.first %}<div class="divider-horizontal"></div>{% endif %}
	    <h2 class="col-md-8 col-md-offset-2 novos-pls-data-projeto">{{ projeto.apresentacao|date:"d.m (l)" }}</h2>
	  {% endifchanged %}

          <div class="col-md-8 col-md-offset-2 novos-pls_item">

            <div class="pull-right pls-icones">
	      {% for tag in projeto.tags.all %}
	        {% get_icon_html_from_tag_id tag.id %}
	      {% endfor %}
	      {% if projeto.get_impacto_display == '🙂️' %}
                <img src="{% static 'img/icons/face-happy-icon.svg' %}" data-toggle="tooltip" title="Bom" />
	      {% elif projeto.get_impacto_display == '😐' %}
                <img src="{% static 'img/icons/face-medium-icon.svg' %}" data-toggle="tooltip" title="Atenção: pode ameaçar direitos" />
	      {% elif projeto.get_impacto_display == '🙁' %}
                <img src="{% static 'img/icons/face-unhappy-icon.svg' %}" data-toggle="tooltip" title="Ruim" />
	      {% endif %}
	      {% if projeto.urgente %}
                <img src="{% static 'img/icons/lightningicon.svg' %}" data-toggle="tooltip" title="Urgente" />
	      {% endif %}
	      {% if projeto.arquivado %}
	        <img src="{% static 'img/icons/archiveicon.svg' %}" data-toggle="tooltip" title="Arquivado" />
	      {% endif %}
	      {% if projeto.promulgado %}
	        <img src="{% static 'img/icons/promulgatedicon.svg' %}" data-toggle="tooltip" title="Promulgado" />
	      {% endif %}
	    </div>

            <h2 class="novos-pls-nome-projeto col-lg-6">{{ projeto.nome }}</h2>

	    <table class="novos-pls-detalhes-projeto">
	      <tr class="novos-pls-titulos-projeto">
	        <th>Apresentação</th>
	        <th>Autoria</th>
	        <th>Origem</th>
	        <th>Situacao</th>
	      </tr>
	      <tr class="novos-pls-descricao-projeto">
	        <td>{{ projeto.apresentacao }}</td>
	        <td>{{ projeto.autoria }}</td>
	        <td> {{ projeto.origem }}</td>
	        <td>{{ projeto.situacao }}</td>
	      </tr>
	    </table>

	    <h3 class="novos-pls-titulo-detalhe">Ementa</h3>
            <p class="novos-pls-descricao-detalhe">{{ projeto.ementa }}</p>

	    <h3 class="novos-pls-titulo-detalhe">Pontos principais</h3>
	    {{ projeto.pontos_principais|safe|markdown_text }}

	    <a class="btn btn-primary" href="{{ projeto.get_absolute_url }}">ver mais</a>
	  </div>

	{% empty %}
	  <p>Não existem projetos novos na semana selecionada.</p>
	{% endfor %}
      </div>
    </div>
  </div>

  <div class="divider-horizontal"></div>
{% endblock %}
{% block scripts_extra %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'js/forms.js' %}"></script>
  <script src="{% static 'js/datepicker-pt-BR.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#datepicker").datepicker({
        beforeShowDay: function(date){
          var day = date.getDay();
          return [day >= 1 && day <= 5, ""];
        }
      });
    });
  </script>
{% endblock %}
